{% extends 'base.html' %}

{% block body %}
<form action="{% url 'articles:create' %}" method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" id="title" class="form-control" name="title">
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea id="content" class="form-control" rows="10" name="content"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">submit</button>
</form>
{% endblock %}


















